<nav class="researchNav">
    <a class="nav-link carousel-cell" href="/">
        <img src="/design.svg" alt="">
        home
    </a>

    <a class="nav-link carousel-cell" href="./movies/">
        <img src="/design.svg" alt="">
        movies
    </a>

    <a class="nav-link carousel-cell" href="./tv-series/">
        <img src="/design.svg" alt="">
        TV series
    </a>    

    <a class="nav-link carousel-cell" href="./knowledge-base/">
        <img src="/design.svg" alt="">
        knowledge base
    </a>

    <a class="nav-link carousel-cell" href="./people/">
        <img src="/design.svg" alt="">
        people
    </a>   

    <a class="nav-link carousel-cell" href="./documentaries/">
        <img src="/design.svg" alt="">
        documentaries
    </a>   

    <a class="nav-link carousel-cell" href="./quotes/">  
        <img src="/design.svg" alt="">     
        quotes
    </a>

    <a class="nav-link carousel-cell" href="./about/">
        <img src="/design.svg" alt="">      
        about
    </a>   

    <a class="nav-link carousel-cell" href="./contact/">
        <img src="/design.svg" alt="">      
        contact
    </a>
    <a class="nav-link carousel-cell" href="./documentaries/">
        <img src="/design.svg" alt="">
        documentaries
    </a>   

    <a class="nav-link carousel-cell" href="./quotes/">
        <img src="/design.svg" alt="">  
        quotes
    </a>

    <a class="nav-link carousel-cell" href="./about/">
        <img src="/design.svg" alt="">  
        about
    </a>   

    <a class="nav-link carousel-cell" href="./contact/">
        <img src="/design.svg" alt="">       
        contact
    </a>
    
    <a class="nav-link carousel-cell" href="./documentaries/">
        <img src="/design.svg" alt="">
        documentaries
    </a>   

    <a class="nav-link carousel-cell" href="./quotes/">
        <img src="/design.svg" alt="">    
        quotes
    </a>

    <a class="nav-link carousel-cell" href="./about/">
        <img src="/design.svg" alt="">     
        about
    </a>   

    <a class="nav-link carousel-cell" href="./contact/">
        <img src="/design.svg" alt="">      
        contact
    </a>
    <a class="nav-link carousel-cell" href="./documentaries/">
        <img src="/design.svg" alt="">
        documentaries
    </a>    

</nav>

<style lang="scss">
    .researchNav {
        margin-block: 1.2rem;
        padding-block: 1.2rem;
        border-top: 1.2px solid var(--semantic-green-default-normal);
        border-bottom: 1.2px solid var(--semantic-green-default-normal);
        display: flex;
        column-gap: 2rem;
        height: 60px;
        overflow: hidden;
        align-items: center;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;

        a {
            display: flex;
            align-items: center;
            column-gap: 0.2rem;
            font-size: .85rem;
            font-weight: 600;
            background-color: var(--semantic-green-light-hover);
            color: var(--leather-dark-hover);
            min-width: fit-content;
            padding-inline: .4rem;
            padding-block: .2rem;
            border-radius: .5rem;

            &:hover {
                background-color: var(--semantic-green-dark-active);

            }
        }
    }
</style>